/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* my code */
* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;

}
header nav ul li  {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
    
}
header nav ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    
}
header .header-cases {
    display: none;
}
@media only screen and (min-width: 1000px){
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        margin: 20px 0px  0px 20px;
        float: left;
    }
 
   

    header nav ul li a {
        
        line-height: 60px;
    }

    header .header-cases {
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border:1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
    }

/* index */
.index-banner {
    width: 100%;
    height:calc(100vh - 100px);
    background: url('../img/concept.jpg') no-repeat center center;
     background-size: cover;
    display: table;
}

.vertical-center{
    display: table-cell;
    vertical-align: middle;

    
}
.index-banner h2{
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}


.index-banner h1{
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div{
    margin: 16px 16px 0;
    width: calc(100% -32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px){
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner {
    height: 450px;
   
}

    .index-banner h1{
        display: block;
        width: 560px;
        margin: 0 auto;
    }
    .index-links {
        overflow: hidden;

    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;

    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important;
    }
    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important;
    }
    .index-links div h3 {
        line-height: 230px;
    }
    }

   /* CASES */ 

 .cases-links {
        overflow: hidden;
        margin-bottom: 20px;

   }

.cases-links h2 {
        font-family: Catamaran;
        font-size: 28px;
        font-weight: 600;
        color: #111;
        text-transform: uppercase;

   }



   .cases-links .cases-link{
        float: left;
        width: 230px;
        height: 230px;
        margin: 20px 10px 0px; 
        background-color: #e3e3e3;

   }

   .cases-links .cases-link p {
    padding-top: 45%;
        font-family: Catamaran;
        font-size: 24px;
        font-weight: 600;
        color: #111;
        text-align: center;
        text-transform: uppercase;

   }

/* PORT */
.left-col {
    width: 60%;
    float: left;
   margin: 4% 0 4% 4%;
    overflow: hidden;
    margin-bottom: 20px;
}
.left-col h2 {
    font-size: 200%;
    font-weight: 700;
    color: #2C2C2C;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
.left-col p{
    color: #2C2C2C;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;
}

.sidebar {
    width: 26%;
    float: left;
    margin: 4%;
}

.sidebar p {
    color: #2C2C2C;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;
}
.one-third-port {
    width: 29.333333%;
    padding: 2%;
    float: left;
}
.one-third-port img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.one-third-port img:hover {
    opacity:.5;
}

.clearfix {
    clear: both;
    height: 3%;
}

.contact h2{
    font-size: 180%;
    font-weight: 700;
    color: #2C2C2C;
    text-align: center;
    text-decoration: underline;
}
.contact p {
    text-align: center;
    letter-spacing: 5px;
    padding: 30px;
}
.contact a {
    color: #2C2C2C;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.break {
    display: none;
}

/* ABOUT */

.about-me{
       width: 100%;
       padding-top: 70px;
       padding-bottom: 70px;
    
}
.about-me:after {
    content:'';
    display: block;
    clear: both;
}

.about-me h2{
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: center;
    text-transform: uppercase;
    position: relative;

}
.about-me h2:after{
    content:'';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: blue;

}
.about-me .col-left, .about-me .col-right{
    width: 45%;
    float: left;
}
.about-me .col-left{
    padding-left: 8%;
    padding-right: .5%;
}
.about-me a{
    background-color: gray;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    display: inline-block;
}

.about-me .col-left img {
    max-width: 100%;
}


    
/* SKILLS SECTION  */


.my-skills {
    background-color: #e2e2e2;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.my-skills h2{
    text-transform: uppercase;
}

/*.my-skills h2:after {
    content:'';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: blue;

}*/

.my-skills:after {
    content: '';
    display: block;
    clear: both;
}

.my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right{
    width: 33.3333%;
    display: inline-block;
    float: left;
    
}


.my-skills i {
    font-size: 50px;
    color: blue;
}

/* Contact section  */

.contact-wrapper{
    width: 100%;
    height: 100vh;
    background:url('../img/contactpg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table; 
   opacity: 5%;
}

.contact-header{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-header h1{
    color: #fff;
    padding: 16px;
    font-size: 36px; 
}
.contact-header p{
    color: white;
    font-size: 12px; 
    margin-bottom: 20px;
}
.contact-form {
    background-color: #DCDCDC;
    width: 50%;
    height: 30%;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-form p{
    padding: 10px;
    font-size: 17px;
}









/* FOOTER SOCIAL SECTION  */

.social {
    list-style-type: none;
    text-align: center;
}
.social li {
    display: inline;
}
.social i {
    font-size: 270%;
    margin: 1% 5% 7% 4%;
    color: #2C2C2C;
}
.social i:hover {
    color: #606060;
}
footer.second {
    background-color: #2C2C2C;
}
footer.second p {
    color: #FFF;
    text-align: center;
    padding: 5%;
}



@media only screen and (min-width: 1000px){
    .footer-links-cases{
        display: block;
    }

    footer ul{
        padding-right: 30px;
    }
    footer ul li p {
    font-family: Catamaran;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
   
}
}